.try {
    display: flex;
    flex-wrap: wrap;
    
    
}
.education {
    margin-left:0 0;
    /* padding-left:200px ; */
    

}
.hobbies {
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
   

}
.projects {
    flex: 0 1 calc(50% - 20px); /* 3 items per row */
    /* box-sizing: border-box; */
    border: 1px solid white;
    padding: 15px;
}
footer {
    text-align:center ;
 
}
footer a{
    margin-right:10px;          


}
.skills {
    margin-left:0 0;

}

.skills ul {
    list-style-type: disc;       /* bullet points */
    display: flex;               /* make items horizontal */
    gap: 1rem;                   /* space between items */
    padding-left: 1rem;         /* indentation for bullets */
}

.skills li {
    white-space: nowrap;        /* prevents items from wrapping */
}